.card {
  font-size: 14px;
  line-height: 24px;

  &--main {
    margin-bottom: 20px;

    .card__wrapper {
      margin: 0 20px;
    }
  }
}

.card__image {
  display: block;
}

.card__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
  background-color: @second-bg-color;
}

.card__description {
  margin: 0;
}

.card__author-name {
  font-weight: 700;
  font-style: normal;
}

.card__time {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

.card__text {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card__like-button {
  text-transform: uppercase;
  color: @second-color;
  font-size: 12px;
}
