.characteristic {
  padding-top: 46px;
  background: linear-gradient(175deg, transparent 25%, @second-bg-color 10px);

  &::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    width: 157px;
    height: 257px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-image: url("../img/iphone-3.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 157px auto;
  }
}

.characteristic__wrapper {
  display: grid;
  justify-items: center;
}

.characteristic__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
}

.characteristic__wrapper-image {
  height: 257px;
  overflow: hidden;
}

.characteristic__demo-image {
  display: block;
}
