.characteristic {
  position: relative;
  padding-top: 41px;
  background: linear-gradient(174.5deg, transparent 24%, @second-bg-color 24%);

  @media (min-width: @tablet-width) {
    background: linear-gradient(175.5deg, transparent 37%, @second-bg-color 37%);
    padding-top: 47px;
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(175.2deg, transparent 40.5%, @second-bg-color 40.5%);
    padding-top: 62px;
  }
}

.characteristic__wrapper {
  position: relative;
  display: grid;
  justify-items: center;

  &::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    width: 157px;
    height: 277px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 157px auto;
    background-image: url("../img/iphone-4.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-4@2x.png");
    }
  }

  @media (min-width: @tablet-width) and (max-width: (@desktop-width - 1px)) {
    &::after {
      position: absolute;
      right: 56.5%;
      width: 268px;
      height: 481px;
      background-size: 268px auto;
      background-image: url("../img/iphone-4-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-4-tablet@2x.png");
      }
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      display: none;
    }
  }
}

.characteristic__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54.47px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68.09px;
  }
}

.characteristic__wrapper-inner {
  margin-bottom: 65px;

  @media (min-width: @tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 38px;
  }
}

.characteristic__wrapper-image {
  height: 257px;
  overflow: hidden;
}

.characteristic__wrapper-list {
  @media (min-width: @tablet-width) {
    width: 50%;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    width: calc(100% - (2 * @wrapper-padding));
    justify-self: center;
  }
}

.characteristic__demo-image {
  display: block;
}
