.copyright {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 12px;

  img {
    display: block;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-right: 15px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  svg {
    display: block;
  }

  &:hover {
    path {
      fill: #000000;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }
}
