.form-page__subtitle {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 74px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.form-page__subtitle-nomobile {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
