.form {
  display: grid;
  margin-bottom: 16px;
  grid-template-areas:
    "name"
    "achiev"
    "contact"
    "os"
    "comment"
    "submit";
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    padding-left: @wrapper-padding;
    padding-right: @wrapper-padding;
    margin-bottom: 49px;
    grid-template-areas:
      "name"
      "os"
      "contact"
      "achiev"
      "comment"
      "submit";

    .wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: @wrapper-padding-desktop;
    padding-right: @wrapper-padding-desktop;
    margin-bottom: 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 74px;
    grid-template-areas:
      "name os"
      "contact contact"
      "achiev achiev"
      "comment comment"
      "submit submit";
  }
}

.form__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @second-color;

  &:last-child {
    margin-bottom: 0;
  }

  &--input span,
  &--phone,
  &--email {
    margin-bottom: 5px;
    margin-left: 23px;

    @media (min-width: @tablet-width) {
      margin-right: 20px;
      margin-top: 12px;
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  &--input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 55px;

      span {
        margin-bottom: 0;
      }
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 56px;
    }
  }

  @media (min-width: @tablet-width) {
    &--phone,
    &--email {
      order: 2;
      margin-left: 17px;
    }
  }
}

.form__label--checkbox,
.form__label--radio {
  margin-left: 2px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }

  span {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      flex-shrink: 0;
      flex-grow: 0;
      width: 35px;
      height: 35px;
      margin-right: 22px;
      outline: @border-color-1 solid 2px;
      border-radius: 3px;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 22px 16px;
    }
  }

  &:hover,
  &:focus-within {
    span::before {
      outline-color: @main-color;
    }
  }

  &:active {
    span::before {
      outline-color: @second-color;
    }
  }

  & > input:checked {
    & + span::before {
      background-image: url("../img/tick.svg");
    }
  }
}

.form__label--checkbox {
  margin-bottom: 47px;
}

.form__label--radio {
  margin-bottom: 38px;

  span::before {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 11px solid #ffffff;

    @media (max-width: @mobile-width-only) {
      margin-right: 31px;
    }
  }

  & > input:checked {
    & + span::before {
      background-image: none;
      background-color: @second-color;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
  }
}


.form__fieldset {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  border: none;

  &--container {
    background-color: @second-bg-color;

    .form__label {
      text-transform: none;
      color: @main-color;
    }
  }

  &--name {
    grid-area: name;
  }

  &--os {
    grid-area: os;
    padding-top: 87px;
    padding-bottom: 41px;
  }

  &--contact {
    grid-area: contact;
    padding-top: 7px;

    .form__legend {
      display: none;
    }
  }

  &--achievements {
    grid-area: achiev;
    padding-top: 90px;
    padding-bottom: 44px;
  }

  &--comment {
    grid-area: comment;
    padding-top: 21px;
    padding-bottom: 22px;

    @media (max-width: @mobile-width-only) {
      .form__legend {
        top: 12px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    border: 2px solid @border-color-1;
    border-radius: 3px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 59px;

    &:last-of-type {
      margin-bottom: 66px;
    }

    &--os {
      padding-top: 46px;
      padding-bottom: 53px;
    }

    &--name {
      border: none;
      padding-left: 0;
      padding-right: 0;
    }

    &--contact {
      padding-top: 38px;
      padding-bottom: 25px;

      .form__legend {
        display: block;
      }
    }

    &--achievements {
      padding-top: 46px;
      padding-bottom: 49px;
    }

    &--comment {
      padding-top: 38px;
      padding-bottom: 51px;
      padding-left: 58px;
      padding-right: 58px;
    }

    &--container {
      background-color: transparent;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;

    &--name {
      padding-top: 16px;
    }

    &--os {
      padding-left: 0;
      padding-right: 0;
    }

    &--contact {
      padding-top: 35px;
      padding-bottom: 12px;

      .form__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 74px;
      }
    }

    &--achievements {
      padding-bottom: 9px;
    }

    &--comment {
      padding-top: 34px;
      padding-bottom: 42px;
    }

    .form__app {
      padding-left: 72px;
      padding-right: 72px;
    }
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}


.form__legend {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @second-color;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 7px;
    position: relative;
    top: 56px;
    padding: 0 40px;
  }

  @media (min-width: @tablet-width) {
    top: 0;
    padding: 0 20px;
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__input-wrapper {
  position: relative;

  .form__input {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 60px;
      height: 100%;
      top: 0;
      right: 0;
      border: 2px solid transparent;
      border-radius: 0 3px 3px 0;
      background-color: @border-color-1;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--tel {
      &::before {
        background-image: url("../img/phone-icon.svg");
      }
    }

    &--email {
      &::before {
        background-image: url("../img/mail-icon.svg");
      }
    }
  }
}

.form__input {
  border: none;
  outline: @border-color-1 solid 2px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  &[type="text"],
  &[type="tel"],
  &[type="email"] {
    padding: 15px 22px;
  }

  &:hover {
    outline-color: @main-color;
  }

  &:active,
  &:focus {
    outline-color: @second-color;
  }

  @media (min-width: @tablet-width) {
    &[type="text"] {
      flex-shrink: 1;
      flex-grow: 1;
      padding: 15px 20px;
    }

    &[type="tel"],
    &[type="email"] {
      padding-left: 20px;
      padding-right: 70px;
    }
  }
}

.form__input,
.form__textarea {
  &::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: @main-color;
  }
}

.form__app,
.form__checkboxes {
  display: grid;

  .form__label {
    font-size: 18px;
  }
}

.form__checkboxes {
  @media (min-width: @desktop-width) {
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
  }
}

.form__textarea {
  width: 100%;
  height: 201px;
  padding: 14px 20px;
  resize: none;
  border: 2px solid @border-color-1;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    height: 192px;
  }

  @media (min-width: @desktop-width) {
    height: 128px;
  }
}

.form__submit {
  grid-area: submit;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.form__button.submit-button {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    width: 48.2%;
    padding: 16px 55px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 31.9%;
    padding-bottom: 17px;
  }
}

.form__explanation {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__color-span {
  color: @second-color;
}

.form__nomobile {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
