.image-filters {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 280px;
  padding-top: 33px;
  padding-bottom: 71px;
  padding-left: 20px;
  padding-right: 25px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    padding-top: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.image-filters__control {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 11px;
    margin-bottom: 16px;
    padding-right: 18px;
    box-shadow: 0 1px 0 0 fade(@main-color, 10);
  }

  @media (min-width: @desktop-width) {
    padding-right: 32px;
  }
}

.image-filters__button {
  display: block;
  flex-shrink: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;

  svg {
    fill: fade(@main-color, 30);
  }

  &--active {
    svg {
      fill: @second-color;
    }
  }

  @media (max-width: @mobile-width-only) {
    &:not(&--active):hover,
    &:not(&--active):focus {
      svg {
        fill: fade(@main-color, 50);
      }
    }
  }

  @media (min-width: @tablet-width) {
    width: 44px;
    height: 44px;

    svg {
      fill: @second-color;
    }
  }

  @media (min-width: @tablet-width) and (max-width: (@desktop-width - 1px)) {
    &--crop {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    &--fill {
      svg {
        width: 24px;
        height: 22px;
      }
    }

    &--contrast {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.image-filters__range {
  display: none;
  position: absolute;
  width: 240px;
  height: 2px;
  bottom: 34px;
  left: 20px;
  background-color: @main-color;

  &--active {
    display: block;
  }

  &--crop {
    .image-filters__thumb {
      left: 83%;
    }
  }

  &--fill {
    .image-filters__thumb {
      left: 16%;
    }
  }

  &--contrast {
    .image-filters__thumb {
      left: 51%;
    }
  }

  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
    margin-left: 16px;
    width: 100%;
    bottom: auto;
    left: auto;
  }

  @media (min-width: @desktop-width) {
    margin-left: 48px;
  }
}

.image-filters__thumb {
  position: absolute;
  width: 14px;
  height: 14px;
  padding: 5px;
  top: -5px;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid @second-color;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: @second-color;
    outline: none;
  }
}
