.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 99px;
  }
}

.page-footer__logo {
  margin-bottom: 39px;
  position: relative;
  width: 145px;
  height: 40px;

  &[href]:hover .page-footer__logo-text {
    fill: @second-color;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &[href]:active .page-footer__logo-text {
    fill: @main-color;
  }

  .page-footer__logo-desktop {
    display: none;
  }

  @media (min-width: @desktop-width) {
    width: 147px;

    .page-footer__logo-tablet {
      display: none;
    }

    .page-footer__logo-desktop {
      display: block;
    }
  }
}

.page-footer__logo-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.page-footer__social {
  margin-bottom: 27px;
  flex-grow: 1;
  align-self: stretch;
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    width: 145px;
  }
}
