.page-main {
  &--inner {
    padding-top: 36px;

    h1 {
      width: 230px;
      padding: 0;
      margin-bottom: 80px;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 32.68px;
      color: @third-color;
    }
  }
}
