.page-main--inner {
  .page-main__subtitle {
    padding-top: 44px;
    margin-top: 0;
    text-align: center;
    font-size: 14px;
    line-height: 30px;

    @media (min-width: @tablet-width) {
      padding-top: 92px;
      font-size: 18px;
    }

    @media (min-width: @desktop-width) {
      font-size: 18px;
    }
  }
}

.page-main__title {
  display: inline-block;
  width: 230px;
  padding: 0;
  margin-top: 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 32.68px;
  color: @third-color;

  @media (min-width: @tablet-width) {
    width: 400px;
    margin-top: 66px;
    font-size: 50px;
    line-height: 68.09px;

    &--form {
      width: 620px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 59px;

    &--form {
      width: 940px;
    }
  }
}
