.page-header {
  position: absolute;
  width: 100%;
  color: @third-color;
  background-color: @header-bg-color;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: inherit;
  }

  &--nojs {
    position: relative;
    background-color: @main-color;
  }

  &--menu {
    background-color: @main-color;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;

    &--nojs {
      position: absolute;
      background-color: @header-bg-color;
    }

    &--menu {
      background-color: @header-bg-color;
    }
  }
}

.page-header__container {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: @desktop-width;
    padding-left: @wrapper-padding-desktop;
    padding-right: @wrapper-padding-desktop;
    margin: 0 auto;
  }
}

.page-header__logo {
  display: block;
  position: relative;
  width: 74px;
  height: 23px;
  margin: 22px @wrapper-padding;

  &[href]:hover svg {
    fill: @second-color;
  }

  &[href]:active svg {
    fill: @third-color;
    opacity: 0.3;
  }

  .page-header__logo-tablet,
  .page-header__logo-desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin: 35px @wrapper-padding;
    width: 145px;
    height: 40px;

    .page-header__logo-tablet {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    width: 147px;

    .page-header__logo-tablet {
      display: none;
    }

    .page-header__logo-desktop {
      display: block;
    }
  }
}

.page-header__logo-text {
  position: absolute;
  bottom: 0;
  right: 0;
}
