.promo {
  padding-top: 66px;
  margin-bottom: 21px;
  text-align: center;
  color: @third-color;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: @main-bg-color;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 462px;

  &--inner {
    min-height: 237px;
    padding-bottom: 25px;
  }

  &--nojs {
    padding-top: 0;
    background-position: center -66px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 27px;
    min-height: 440px;
    padding-top: 110px;
    background-image: url("../img/back-tablet.jpg");
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 394px;
    margin-bottom: 42px;
    background-image: url("../img/back-desktop.jpg");

    &--nojs {
      padding-top: 110px;
      background-position: top;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: relative;
    width: 320px;
    height: 286px;
    bottom: 0;
    background-image: url("../img/promo-mobile.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 320px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-mobile@2x.png");
    }
  }

  @media (min-width: @tablet-width) {
    width: 48.49%;
    padding-bottom: 83px;

    &::before {
      position: absolute;
      width: calc(100vw - (2 * @wrapper-padding));
      height: 545px;
      left: @wrapper-padding;
      background-image: url("../img/promo-tablet.png");
      background-position: right bottom;
      z-index: 1;
      background-size: 660px auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-tablet@2x.png");
      }
    }
  }

  @media (min-width: @desktop-width) {
    width: 31.8%;
    padding-bottom: 93px;

    &::before {
      width: calc(@desktop-width - (2 * @wrapper-padding-desktop));
      height: 645px;
      left: -5px;
      background-image: url("../img/promo-desktop.png");
      background-size: 1050px auto;
      background-position: right -130px bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-desktop@2x.png");
      }
    }
  }
}

.promo__slogan {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 29px;
  padding: 0;
  width: 240px;
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  order: -1;
  z-index: 2;

  @media (min-width: @tablet-width) {
    margin-top: 95px;
    margin-bottom: 2px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 98px;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 68.09px;
  }
}

.promo__download {
  align-self: stretch;
  z-index: 2;
}
