.tarifs {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 30px;
  background: linear-gradient(175deg, transparent 20%, @second-bg-color 20%);
}
