.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  // max-width: 320px;

  @media (min-width: @tablet-width) {
    // max-width: 660px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}

.wrapper {
  padding-left: @wrapper-padding;
  padding-right: @wrapper-padding;
}
